* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   width: 100%;
   text-align: center;
}

.work-arrange {
   margin: 2em auto;
   width: 40%;
}

form {
   text-align: left;
   margin: 2em auto;
}

label {
   width: 40%;
}

input {
   width: 70%;
}

.form-row {
   margin: 0.5em;
   width: 100%;
   text-align: center;
}

.form-row button {
   margin-left: auto;
   margin-right: auto;
   width: 5em;
   height: 2em;
}

.container-tasks {
   text-align: left;
}

.saved-each-task {
   display: inline-block;
   width: 23vw;
   text-align: center;
   background: #f8f4da;
   padding-bottom: 15px;
   border: 1px solid black;
   border-radius: 5px;
   margin-left: 1vw;
   margin-right: 1vw;
   margin-bottom: 1em;
}
